doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body   
        h1 Home
        p Welcome to the HubSpot API integration demo!  
        button 
            a(href="/contacts") Contacts